@import "../../../variables.scss";

.header {
  position: relative;
}

.categoryName {
  font-family: $alt-font;
  transition: 0.6s;
}

.categoryName span {
  color: $secondary-color;
}

.categoryArrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 14px;
  right: 6px;
  transition: .3s ease-in-out;
}

.catClosed .categoryArrow {
  transform: rotate(180deg);
}

.catOpened .categoryArrow {
  transform: rotate(0);
}

.categoryArrow div {
  width: 20px;
  height: 20px;
  position: relative;
  transform: rotate(-45deg);
  top: 10px;
  left: 5px;
  transition: .1s;
}

.empty {
  .header {
    cursor: auto;
  }

  .categoryName {
    font-size: 26px;
    margin-right: 44px;
    margin-top: 4px;
    color: $disabled-color;
  }

  .categoryArrow div {
    border-right: 0px solid $dropdown-arrow-color;
    border-top: 0px solid $dropdown-arrow-color;
  }

  .header:hover .categoryArrow div {
    border-right: 0px solid $support-color;
    border-top: 0px solid $support-color;
  }
}

.nonEmpty {
  .header {
    cursor: pointer;
  }

  .categoryName {
    font-size: 36px;
    margin-right: 44px;
    margin-top: 10px;
    color: $primary-color;
  }

  .categoryArrow div {
    border-right: 3px solid $dropdown-arrow-color;
    border-top: 3px solid $dropdown-arrow-color;
  }

  .header:hover .categoryArrow div {
    border-right: 3px solid $support-color;
    border-top: 3px solid $support-color;
  }
}

.categoryContent {
  display: grid;
  overflow: hidden;
  transition: 1s;
}

.categoryContent div {
  overflow: hidden;
}

.catOpened .categoryContent {
  grid-template-rows: 1fr;
}

.catClosed .categoryContent {
  grid-template-rows: 0fr;
}

.categoryContent {
  padding: 0 8px;
}
