<search-bar [suggestions]="suggestions" [(search)]="search" [maxSuggestions]="5"></search-bar>
@for (c of categories; track c; let i = $index;) {
  <div [class]="[ 'category'
                , c.opened ? 'catOpened' : 'catClosed'
                , nonEmptyCategories.has(c.title) ? 'nonEmpty' : 'empty'].join(' ')">
    <div class="header" (click)="c.opened = !c.opened">
      <div class="categoryName"><span>{{i + 1}}.</span> {{c.title}}</div>
      <div class="categoryArrow"><div></div></div>
    </div>
    <div class="categoryContent">
      <div>
        @for (s of c.skills; track s;) {
          <div app-skill 
              [name]="s.name" 
              [level]="c.skillLevelFn(s.lvl)"
              [percent]="s.lvl"
              [hidden]="!shownSkills.has(s.name)"
              [noContent]="s.noContent"
              [tags]="s.tags"
              (tagClicked)="selectedTag($event)">
            <ng-template [ngTemplateOutlet]="s.templateRef"></ng-template>
          </div>
        }
      </div>
    </div>
  </div>
}