@import "../../../variables.scss";

.article {
  display: grid;
  overflow: hidden;
  transition: grid-template-rows .6s;
  width: 100%;
  grid-template-rows: 1fr;
  border-bottom: 1px solid;
}

.hidden {
  grid-template-rows: 0fr;
  border-bottom: 0;
}

.article > div {
  overflow: hidden;
}

.articleBody {
  cursor: pointer;
  padding: 8px;
  transition: .4s ease-in-out;
  background-color: #00000000;
}

.hidden .articleBody {
  padding: 0 8px;
}

.articleBody:hover {
  background-color: $background-highlight;
}

p {
  margin: 4px 0;
}

mat-chip-set {
  float: left;
}

.extras {
  margin-top: 16px;
  text-align: right;
}

.extras > span {
  white-space: nowrap;
}

.extra {
  display: inline-flex;
  align-items: center;
  padding: 0 6px;
}

span > mat-icon {
  margin-right: 6px;
}