<div>Programming languages</div>
<search-skills>
  <category name="Cat 1" [skillLevelFn]="test">
    <ng-template skill name="Skill 1" [lvl]="12"></ng-template>
    <ng-template skill name="Skill 2" [lvl]="14"></ng-template>
    <ng-template skill name="Skill 2" [lvl]="80">
      <p> TEst 1233423 </p>
    </ng-template>
  </category>
  <category name="Cat 2" [skillLevelFn]="test">
    <ng-template skill name="Skill 2" [lvl]="14"></ng-template>
    <ng-template skill name="Skill 31" [lvl]="43">
      <h1> dasdasd dsa dasd dsa </h1>
    </ng-template>
  </category>
</search-skills>
