<h1 typed-text text="Skills"></h1>
<search-skills>
  <category title="Programming Languages" [skillLevelFn]="technicalSkill">
    <ng-template skill name="Haskell" [lvl]="80" 
      [tags]="[ 'Academic Experience', 'Professional Experience', 'Functional', 
                'Declarative', 'Full-stack', 'Reliable Systems']">
      <p>
        Haskell is one of my favorite programming languages. I was introduced
        to it during my studies, but my real adventure with Haskell began when I
        joined Standard Chartered Bank. At the bank, we use a custom dialect of
        Haskell called Mu. Although I'm well-versed in Mu, I may be less familiar
        with some of the newer features in standard Haskell, as they are not
        available in Mu.
      </p>
    </ng-template>

    <ng-template skill name="Java" [lvl]="75" 
      [tags]="[ 'Academic Experience', 'Professional Experience', 'Imperative', 
                'OOP', 'Object-oriented', 'Full-stack', 'Android', 'Maven', 
                'Hibernate', 'Spring' ]">
      <p>
        I have professionally worked with Java for 1.5 years, primarily
        developing Android applications. During this time, I prepared for the
        Oracle Certified Associate exam, giving me a solid understanding of the
        language's features and challenges, at least up to its 8th version.
      </p>
    </ng-template>

    <ng-template skill name="Python" [lvl]="65"
      [tags]="[ 'Academic Experience', 'Professional Experience', 'Imperative', 
                'Numpy', 'Machine learning']">
      <p>
        Python is my go-to scripting language for both personal and professional
        projects. Throughout my studies, I leveraged Python to tackle
        basics machine learning projects. 
      </p>
    </ng-template>

    <ng-template skill name="Rust" [lvl]="65"
      [tags]="[ 'Academic Experience', 'Imperative', 'Low-level', 'Embedded', 
                'WebAssembly']">
      <p>
        Rust is one of my favorite programming languages due to its innovative
        approach to memory management. I also appreciate its functional flavor
        in an imperative language. While I haven't worked on a professional
        project in Rust yet, I've developed several small Rust projects during
        my studies.
      </p>
    </ng-template>

    <ng-template skill name="TypeScript" [lvl]="60"
      [tags]="[ 'Academic Experience', 'Professional Experience', 'Imperative', 
                'Angular', 'Frontend', 'Ionic', 'AJAX']"
      [aliases]="['TS']">
      <p>
        I mastered this language to work with the Angular framework while
        developing an Ionic application for Siemens. Its powerful type system,
        which surpasses that of most statically typed languages, significantly
        simplified my workflow.
      </p>
    </ng-template>

    <ng-template skill name="COQ" [lvl]="55"
      [tags]="[ 'Academic Experience', 'Formal Methods', 'Reliable Systems', 
                'Dependent types', 'Type Theory', 'Functional', 
                'Declarative']">
      <p>
        COQ is a proof assistant based on type theory, which I explored in my
        master's thesis. With COQ, I can prove properties of algorithms and
        inductive types, although I find co-inductive types more challenging.
      </p>
    </ng-template>

    <ng-template skill name="JavaScript" [lvl]="50"
      [tags]="['Academic Experience', 'JQuery', 'AJAX', 'Frontend']"
      [aliases]="['ECMAScript']">
      <p>
        JavaScript and I have a unique relationship. I'm captivated by its
        ability to create dynamic, interactive web applications, yet there are
        quirks that can be frustrating. For example, the name "JavaScript" was
        picked to ride on the coattails of Java's success, and its loose type
        system can be baffling at times (where else can 1 + 1 sometimes equal
        11?).
      </p>
    </ng-template>

    <ng-template skill name="PureScript" [lvl]="45"
      [tags]="[ 'Professional Experience', 'AJAX', 'Frontend', 'Functional', 
                'Declarative', 'Reliable Systems']">
      <p>
        Haskell for web applications. I developed this skill during my time at
        Stranded Charted Bank.
      </p>
    </ng-template>

    <ng-template skill name="Kotlin" [lvl]="45" 
      [tags]="[ 'Academic Experience', 'Professional Experience', 'Java-like', 
                'Android', 'Imperative']"
    [aliases]="['Java']">
      <p>
        Java, but with a touch of elegance! I've primarily utilized it for
        developing Android applications at Siemens and during my mobile
        applications course.
      </p>
    </ng-template>

    <ng-template skill name="PHP" [lvl]="40"
      [tags]="['Academic Experience', 'Backend', 'Symphony']">
      <p>
        I started learning this language in high school and have since developed
        several projects using it.
      </p>
    </ng-template>

    <ng-template skill name="C / C++" [lvl]="40"
      [tags]="[ 'Academic Experience', 'Imperative', 'Embedded', 'Arduino', 
                'Low-level' ]"
      [aliases]="['Cpp']">
      <p>
        My journey into programming began with this language. I've utilized it
        for developing small CLI applications, creating windowed games, and even
        coding a snake game for Arduino.
      </p>
    </ng-template>

    <ng-template skill name="Prolog" [lvl]="35"
      [tags]="['Academic Experience', 'Logic', 'Reliable Systems']">
      <p>
        I have some experience with Prolog, which I gained during a logic
        programming course I completed during my studies. 
      </p>
    </ng-template>

    <ng-template skill name="Go" [lvl]="25"
      [tags]="['Academic Experience', 'Concurrency', 'Backend']">
      <p>
        A programming languages utilizing microthreads and message queues. I
        learned it through academic coursework.
      </p>
    </ng-template>

    <ng-template skill name="Julia" [lvl]="20"
      [tags]="['Academic Experience', 'Imperative']">
      <p>
        I learned this Python-like language with static types while studying
        numerical methods.
      </p>
    </ng-template>

    <ng-template skill name="Ada" [lvl]="15"
      [tags]="['Academic Experience', 'Imperative', 'Reliable Systems']">
      <p>
        I acquired foundational knowledge of this language during my academic studies.
      </p>
    </ng-template>

    <ng-template skill name="Lean" [lvl]="15"
      [tags]="['Academic Experience', 'Formal Methods', 'Reliable Systems', 'Type Theory']">
      <p>
        Lean is a proof assistant specializing in classic logic and quotient
        types. I acquired proficiency in this language while writing my master's
        thesis.
      </p>
    </ng-template>

    <ng-template skill name="Twelf" [lvl]="5"
      [tags]="['Academic Experience', 'Logic', 'Reliable Systems', 'Dependent types']">
      <p>
        Interesting mix of Prolog and statically typed language with dependent
        types.
      </p>
    </ng-template>
  </category>

  <category title="IT Domains" [skillLevelFn]="technicalSkill">
    <ng-template skill name="Backend Development" [lvl]="80"
      [tags]="[ 'Academic Experience', 'Professional Experience', 'MVC', 'Micro Services'
              , 'Haskell', 'Java', 'PHP', 'REST API', 'CRUD']">
      <p>
        With extensive experience in backend development, I've used my skills
        through various exciting projects. At Siemens, I developed microservices
        for an airport luggage application using Spring (Java). At Standard
        Chartered Bank, I contributed to a REST API written in Haskell. Beyond
        my professional roles, I've also created numerous small projects during
        my studies, showcasing my passion for continuous learning and
        innovation.
      </p>
    </ng-template>
    <ng-template skill name="Databases Management" [lvl]="75"
      [tags]="[ 'Academic Experience', 'Professional Experience', 'SQL', 'Postgres'
              , 'MySQL', 'SQLite', 'NoSQL', 'CRUD', 'Firebase' ]">
      <p>
        I bring a solid foundation in both relational and non-relational
        databases. During my tenure at Standard Chartered Bank, I developed a
        robust library for type-safe database querying. My academic journey also
        provided hands-on experience with MongoDB and Firebase, allowing me to
        explore and leverage the strengths of various database systems.
      </p>
    </ng-template>
    <ng-template skill name="Web Development" [lvl]="70"
      [tags]="[ 'Academic Experience', 'Professional Experience', 'HTML', 'JavaScript', 'CSS',
              'WebAssembly', 'Angular', 'JQuery', 'PureScript', 'TypeScript' ]">
      <p>
        Developing web applications is one of my favorite ways to create
        front-end experiences. Throughout my career, I have worked on a variety
        of web applications, both small and large, appreciating their simplicity
        and the advantage of not requiring installation. While performance can
        sometimes be a challenge, I have addressed this by leveraging
        WebAssembly in my personal projects, significantly improving efficiency.
      </p>
    </ng-template>
    <ng-template skill name="Quality Assurance and Testing" [lvl]="65"
      [tags]="[ 'Academic Experience', 'Professional Experience', 'QuickCheck', 'Mockito' ]">
      <p>
        I have been responsible for testing applications at both Siemens and
        Standard Chartered Bank. At Siemens, I developed a tool for automated
        testing of Android application GUIs. At Standard Chartered Bank, I took
        on the role of testing lead, establishing standards for application
        testing, preparing testing tools, and writing unit and integration tests
        for critical parts of the application.
      </p>
    </ng-template>
    <ng-template skill name="Graphical Interfaces" [lvl]="55"
      [tags]="[ 'Academic Experience', 'Professional Experience', 'Tkinter', 'Java FX' ]">
      <p>
        While my go-to for front-end development is web applications, I've also
        created several GUI applications in Python and Java. At Standard
        Chartered Bank, I developed a GUI application using the Haskell-like
        language Mu.
      </p>
    </ng-template>
    <ng-template skill name="Mobile Applications" [lvl]="50"
      [tags]="['Academic Experience', 'Professional Experience', 'Android', 'Java', 'Kotlin', 'Ionic']">
      <p>
        During my tenure at Stamens, I developed an Android application tailored
        for the employees of a logistics center. Additionally, as part of my
        "Mobile Applications" course during my studies, I created several
        Android applications, further honing my skills.
      </p>
    </ng-template>
    <ng-template skill name="Networking" [lvl]="30"></ng-template>
    <ng-template skill name="Machine Learning" [lvl]="25"></ng-template>
    <ng-template skill name="Cybersecurity" [lvl]="20"></ng-template>
    <ng-template skill name="Data Analytics" [lvl]="15"></ng-template>
  </category>

  <category title="DevOps Tools" [skillLevelFn]="technicalSkill">
    <ng-template skill name="Git" [lvl]="70"
      [tags]="['Academic Experience', 'Professional Experience', 'Source Control']">
      <p>
        At Standard Chartered Bank, I have utilized Git as my primary source
        control tool. Given the large codebase, we relied exclusively on the
        command-line interface (CLI), bypassing graphical tools. This experience
        has made me proficient in committing, pushing, and rebasing using Git
        CLI.
      </p>
    </ng-template>

    <ng-template skill name="Jenkins" [lvl]="45"
      [tags]="['Professional Experience', 'CI/CD']">
      <p>
        While not a Jenkins expert, I have hands-on experience in creating
        Jenkins pipelines during my tenure at Siemens and Standard Chartered
        Bank.
      </p>
    </ng-template>

    <ng-template skill name="Svn" [lvl]="30"
      [tags]="['Academic Experience', 'Professional Experience', 'Source Control']">
      <p>
        During my tenure at Siemens, I primarily utilized SVN for efficient
        source control management.
      </p>
    </ng-template>

    <ng-template skill name="Nix" [lvl]="25"
      [tags]="['Dependency Resolver', 'NixOS']">
      <p>
        Nix is one of my favorite tools for dependency management.
        Unfortunately, I don't have extensive experience with it yet, and I've
        only created simple Nix environments. To enhance my skills, I've
        recently started using NixOS under WSL for my projects.
      </p>
    </ng-template>
    <ng-template skill name="Docker" [lvl]="20"
      [tags]="['Professional Experience', 'CI/CD']"
      [aliases]="['Podman']">
      <p>
        While my hands-on experience with Docker is still growing, I have
        utilized Docker files for debugging purposes and have a solid grasp of
        its basic semantics. I am eager to deepen my knowledge and skills in
        creating Docker files from scratch.
      </p>
    </ng-template>
  </category>

  <category title="Domain Knowledge" [skillLevelFn]="technicalSkill">
    <ng-template skill name="Finance" [lvl]="60"
      [tags]="['Academic Experience', 'Professional Experience', 'Markets', 'Options valuations', 
               'Black-Scholes model']">
      <p>
        Although I don't have a formal education in finance, I've always been
        fascinated by financial markets, particularly stock market crashes. I
        completed the Quant Scholarship program by Credit Suisse, where I
        learned the basics of the Black-Scholes model and option valuation.
        After joining Standard Chartered Bank, I continued to intensively study
        hedging and other financial concepts.
      </p>
    </ng-template>
    <ng-template skill name="Shipments and Logistics" [lvl]="40"
    [tags]="['Professional Experience', 'Logistic centers']">
      <p>
        During my tenure at Siemens, I played a key role in developing software
        solutions for managing logistic centers. I also crafted comprehensive
        testing scenarios for automated package sorting systems, ensuring seamless
        and efficient operations.
      </p>
    </ng-template>
  </category>

  <category title="Languages" [skillLevelFn]="languageSkillLevel">
    <ng-template skill name="Polish" [lvl]="100" 
      [tags]="['Academic Experience', 'Professional Experience']">
    </ng-template>
    <ng-template skill name="English" [lvl]="80" 
      [tags]="['Academic Experience', 'Professional Experience']"
      [aliases]="['American']">
      <p>
        I've been using English extensively since I began my programming career.
        With a diverse team, most of our meetings are conducted in English,
        making it a language I use daily.
      </p>
    </ng-template>
    <ng-template skill name="German" [lvl]="10"  
      [tags]="['Academic Experience']">
      <p>
        I studied the basics of German in high school, but despite my German
        surname, I never became fluent.
      </p>
    </ng-template>
  </category>
</search-skills>
