<div>Programming languages</div>
<search-skills>
  <category name="Cat 1" [skillLevelFn]="test">
    <ng-template skill name="Haskell" [lvl]="12"></ng-template>
    <ng-template skill name="Purescript" [lvl]="14"></ng-template>
    <ng-template skill name="Mu" [lvl]="80">
      <p> TEst 1233423 </p>
    </ng-template>
  </category>
  <category name="Cat 2" [skillLevelFn]="test">
    <ng-template skill name="Java" [lvl]="14"></ng-template>
    <ng-template skill name="C++" [lvl]="43" [tags]="['cpp', 'v32']">
      <h1> dasdasd dsa dasd dsa </h1>
    </ng-template>
  </category>
</search-skills>
