@import "../../../variables.scss";

p {
  color: $disabled-color;
  font-family: $date-font;
  font-size: 22px;
  margin-top: 6px;
  margin-bottom: 22px;
}

mat-chip {
  background-color: $tag-color!important;
}