@import "../../../variables.scss";

h1 {
  color: $secondary-color;
  margin: 0;
  font-size: 45pt;
  font-family: $terminal-font;
}

p {
  margin-bottom: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}