<h1 typing-text text="Curriculum Vitae" [typingSpeedMs]="130"></h1>
<app-timeline>
  <ng-template ev attempt="First computer program" startDate="2008-10-03" icon="mat:lightbulb_outline">
    <p>
      As a kid, I always dreamed about an all-powerful and almighty program that
      could be used to create other computer programs. However, I didn't ask my
      mum for such a program since I assumed it must be super expensive, as it
      would be the only program you would ever need. When I was in fifth grade,
      I found my first <a href="https://cpp0x.pl/kursy/Kurs-C++/1">tutorial</a>
      on programming in C++ on the internet. I could not believe that such a
      powerful tool was free to download, even without using torrents. However,
      after writing some small programs, I realized that pointers are hard, and
      this all-powerful and almighty program was, in reality, an almost useless
      tool in my hands. So I went back to playing computer games.
    </p>
  </ng-template>

  <ng-template ev attempt="Second attempt at programming" startDate="2011-03-03" icon="mat:lightbulb_outline">
    <p>
      A couple of years after my failed attempt at being a C++ programmer, I
      decided to give programming a second try. At this time, I was playing
      <a href="https://en.wikipedia.org/wiki/Super_Mario_Bros._3">classic Super Mario game</a> 
      on my 
      <a href="https://en.wikipedia.org/wiki/Game_Boy_Advance_SP">GameBoy</a>,
      so I was determined to write my own platforming game with the addition of
      logic puzzles. Meanwhile, I learned about the existence of the Java
      language, which was advertised to me as an object-oriented language, and
      since I wanted to make a window app, displaying objects seemed like a good
      idea. You can imagine my disappointment when I realized that
      object-oriented programming is not the same as displaying objects on the
      screen. In the end, I was able to write a program to encode text in 
      <a href="https://en.wikipedia.org/wiki/Caesar_cipher">Caesar cipher</a>
      , but I gave up on my great video game idea since I didn't understand half
      of the Java syntax. The nail in my Java coffin was that I failed to
      install <a href="https://eclipseide.org/">Eclipse IDE</a>, so I was
      writing my programs in Windows Notepad.
    </p>
  </ng-template>

  <ng-template ev attempt="GG WP 3" startDate="2024-03-01" icon="mat:ac_unit">
    <p>test</p>
  </ng-template>
</app-timeline>

