<h1 typed-text text="Curriculum Vitae"></h1>
<app-timeline>
  <ng-template ev title="First computer program" startDate="2008-10-03" icon="mat:lightbulb_outline">
    <p>
      As a kid, I dreamed of an all-powerful program that could create other
      computer programs. I never asked my mom for such software, assuming it
      must be incredibly expensive—after all, it would be the only program you'd
      ever need! In fifth grade, I stumbled upon my first <a
      href="https://cpp0x.pl/kursy/Kurs-C++/1">C++ programming tutorial</a>
      online. I was amazed that such a powerful tool was free to download, no
      torrents needed. However, after writing a few small programs, I quickly
      learned that pointers were challenging, and this "almighty" program felt
      almost useless in my novice hands. So, I returned to my computer games.
    </p>
  </ng-template>

  <ng-template ev title="Second attempt at programming" startDate="2011-03-03" icon="mat:lightbulb_outline">
    <p>
      Several years ago, after an initial attempt at C++ programming didn't
      quite pan out, I decided to give programming another shot. Inspired by my
      hours spent playing the <a
      href="https://en.wikipedia.org/wiki/Super_Mario_Bros._3">classic Super
      Mario game</a> on my trusty 
      <a href="https://en.wikipedia.org/wiki/Game_Boy_Advance_SP">GameBoy</a>, I
      set out to create my own platformer with a twist of logic puzzles. During
      this time, I discovered Java—a language touted for its object-oriented
      capabilities. I thought this meant I could easily display objects on a
      screen for my game. Imagine my surprise when I learned that
      object-oriented programming wasn't quite about visual objects. Eventually,
      I managed to write a program that encoded text using the 
      <a href="https://en.wikipedia.org/wiki/Caesar_cipher">Caesar cipher</a>,
      but my dream of developing a video game was stymied by my limited
      understanding of Java syntax. The final straw was my struggle to install
      the <a href="https://eclipseide.org/">Eclipse IDE</a>, leaving me to write
      code in Windows Notepad.
    </p>
  </ng-template>

  <ng-template ev title="Technical High School" startDate="2014-09-01" endDate="2018-05-22" icon="mat:school">
    <p>
      My programming journey truly began at <a
      href="https://www.mechanik.rac.pl/" target="_blank">Technical High School
      "Mechanik"</a>, where I pursued an IT technician profile. During the first
      two years, I delved into the technical intricacies of computers, mastering
      the art of troubleshooting. Imagine the countless drivers I installed for
      stubborn network interfaces! Alongside, I tackled programming assignments
      and puzzles, learning the fundamentals of algorithmic complexity. While my
      custom version of bubble sort wasn't the most efficient, it remains a
      proud creation of mine. During my time there, I successfully passed three
      professional examinations:
    </p>
    <ul>
      <li>E12 - Assembly and operation of personal computers and peripheral devices</li>
      <li>E13 - Designing local computer networks and network administration</li>
      <li>E14 - Creating web applications and databases, and administering databases</li>
    </ul>
    <p>
      These experiences endowed me with practical skills, from cleaning up my
      laptop to configuring routers—indispensable for someone who spends a lot
      of time at the PC. My programming foundation was primarily in C++, where I
      explored features like operator overloading, classes, pointers, and
      advanced data structures such as lists and binary trees. I also developed
      several websites, acquiring most of my CSS knowledge along the way.
      Overall, my understanding of how computers work was significantly
      enhanced.
    </p>
    <p>
      In my third year, I embarked on a one-month internship. As one of the top
      students, I had the privilege of participating in the Erasmus+ student
      exchange program. Alongside my peers, I went to Brunswick, Germany, and
      worked at the PTS Institute. There, I learned the basics of programming
      microcontrollers and even developed my own clone of the classic <a
      href='https://github.com/marek-bauer/Snake' target="_blank">Snake game</a>
      for <a href='https://www.arduino.cc/' target="_blank">Arduino</a>.
    </p>
  </ng-template>

  <ng-template ev title="Wrocław University of Science and Technology" startDate="2018-10-01" endDate="2022-01-29" icon="mat:school">
    <p>
      Half of my education was leading up to this moment. I was thrilled to
      leave my parents' house and dive into fascinating subjects instead of dry
      literature. Reality, of course, had its own plans. First, I attended a
      different university from my high school friends, meaning I had to make
      new connections. Second, I faced a cultural shock with the formal approach
      to mathematics. I vividly recall my bewilderment when my first task was to
      prove that one does not equal zero. Yet, after the initial surprise, I
      quickly adapted to a system where every theorem demanded proof. To this
      day, I cherish elegant mathematical proofs.
    </p>
    <p>
      With the fundamentals of mathematics under my belt, I moved on to more
      technical classes where programming basics were introduced. I got my hands
      dirty with C and Java and learned techniques for proving algorithm
      correctness. Although proving imperative algorithms with <a
      href="https://en.wikipedia.org/wiki/Loop_invariant">loop invariants</a>
      was a bit tedious compared to induction, it was a valuable learning
      experience. I also tackled <a
      href="https://en.wikipedia.org/wiki/Software_design_pattern">design
      patterns</a>. While memorizing them all felt like an arduous task, their
      utility is undeniable.
    </p>
    <p>
      The fourth semester brought an unexpected turn with the COVID-19 pandemic
      hitting Poland, pushing us into remote learning. Initially, a two-week
      break was welcomed, but soon it was back to assignments. During this
      period, I expanded my knowledge with Prolog, metaheuristic algorithms,
      topology, and even ventured into less thrilling subjects like computer
      graphics and web development.
    </p>
    <p>
      Overall, my university experience was fantastic. I made lasting
      friendships and developed a deep love for mathematics. The Headmaster's
      scholarship was a nice bonus that kept my budget intact.
    </p>
  </ng-template>

  <ng-template ev title='"Lambda" science club' startDate="2018-11-01" endDate="Now" icon="img:img/lambda.svg">
    <p>
      Moving to a new town can be challenging, especially when you're a math
      enthusiast like me. In search of like-minded friends, I found my way to
      the local science club. Honestly, the promise of post-club pizza was a
      significant factor in my decision. Although I wasn't initially captivated
      by functional programming and formal methods, I joined the "Lambda"
      science club.
    </p>
    <p>
        The club's primary goal at first was to teach newcomers, myself included,
        the COQ proof assistant. Over time, I also delved into Haskell and Rust,
        which have since become two of my favorite programming languages. It was
        here that I developed a passion for functional programming, particularly
        for its strict type systems that help catch errors early in the
        development process.
    </p>
    <p>
        Today, our club still meets almost every Wednesday to discuss the latest
        advancements in type theory. 
    </p>
  </ng-template>

  <ng-template ev title='Quant Scholarship Program' startDate="2020-10-01" endDate="2021-04-01" icon="mat:star">
    <p>
      During my third year, I had the opportunity to join the prestigious Quant
      Scholarship Program at Credit Suisse. After successfully passing the
      entrance exam and interview, I was accepted into the program. The
      curriculum was divided into two main components. The first focused on
      financial mathematics, where I gained a deep understanding of the <a
      href="https://en.wikipedia.org/wiki/Black%E2%80%93Scholes_model">Black-Scholes
      model</a>, learned to value European and American options, and explored
      other valuation methods such as the Monte Carlo method. The second
      component concentrated on the F# language. As part of the program, I
      developed a <a href="https://github.com/marek-bauer/Option-pricer">simple
      F# application</a> to value various financial instruments, which I
      presented as my final project.
  </p>
  </ng-template>

  <ng-template ev title='Siemens Digital Logistics' startDate="2021-03-01" endDate="2022-10-30" icon="img:img/siemens.svg">
    <p>
      To complete my studies, I needed to undertake an internship. Since I
      couldn't find an internship that piqued my interest, I decided to work
      part-time as a software developer. After applying to several companies, I
      chose a position at Siemens due to their strong market presence. Following
      a brief introduction and a health and safety course, I got a taste of what
      it's like to work as a programmer.
    </p>
    <p>
      Initially, the vast codebase was overwhelming. However, I quickly learned
      that starting with smaller tasks was more manageable than diving into
      large chunks of code. I enjoyed my role at Siemens because it offered a
      variety of projects, from small to mid-sized. During my year and a half
      there, I worked on:
    </p>
    <ul>
      <li>Developing a native Android application for a logistics center</li>
      <li>Creating an Ionic application for a postal company</li>
      <li>Building a Java GWT application to manage a logistics center</li>
      <li>Developing a tool for Android test automation</li>
      <li>Creating a Spring application for managing luggage transfer at a small
          airport</li>
    </ul>
    <p>
      My time at Siemens was a fantastic journey that significantly shaped my
      skills as a programmer. I cherish the memories of working with a great
      team. However, when I received a job offer to work with Haskell, I decided
      to seize that incredible opportunity and move on.
    </p>
  </ng-template>

  <ng-template ev title='Bachelor of Science dissertation' startDate="2021-12-12" icon="mat:history_edu">
    <p>
      My dissertation explored the challenge of generating true random numbers
      on a deterministic machine, inspired by my fascination with probability
      theory. Initially, I considered various approaches, such as developing a
      game where user behavior would generate entropy or using a public API.
      However, these methods posed significant testing challenges. Ultimately, I
      chose to use website response times as my entropy source. Although this
      approach also had practical limitations, it provided invaluable insights
      into testing randomness and contributed to my successful graduation. I
      view this experience as a meaningful achievement.
    </p>
  </ng-template>

  <ng-template ev title='University of Wrocław' startDate="2022-02-12" endDate="2023-09-30" icon="mat:school">
    <p>
      I chose to change universities for my master's degree largely based on my
      friends' recommendations who were already studying there. My goal was to
      deepen my understanding of functional programming and formal verification,
      and this university was the best place in Wrocław for those subjects.
    </p>
    <p>
      During my studies, I gained a solid foundation in functional programming
      languages, type theory, and even delved into Homotopy Type Theory (HoTT).
      I also broadened my expertise in fields such as big data, cryptography,
      machine learning, and hardware description languages. Additionally, my
      mathematical skills were significantly enhanced, particularly in formal
      languages and graph theory.
    </p>
    <p>
      Overall, it was a rewarding experience that greatly expanded my knowledge.
      However, balancing part-time work with full-time studies made this period
      quite challenging.
    </p>    
  </ng-template>

  <ng-template ev title='Standard Chartered Bank' startDate="2022-11-02" endDate="Now" icon="img:img/sc.svg">
    <p>
      Joining this bank has been almost a dream come true due to the extensive
      use of functional languages. The bank employs its custom dialect of
      Haskell, known as Mu. While Mu has its unique strengths and some
      challenges, it provides a fantastic environment to learn how
      business-functional code should be crafted, especially with a team deeply
      passionate about Haskell.
    </p>
    <p>
      During my tenure, I've worked on a variety of exciting projects,
      including:
    </p>
    <ul>
      <li>A frontend web application for downloading reports, developed in
          PureScript</li>
      <li>A full-stack application for hedging financial instruments</li>
      <li>A full-stack application for bond risk assessment</li>
      <li>A portfolio optimization tool</li>
    </ul>
    <p>
      Additionally, my financial knowledge has significantly expanded since
      joining the SCB team. Working on the hedge application required a deep
      understanding of concepts like discounting, fixings, and hedge
      effectiveness.
  </p>
  </ng-template>

  <ng-template ev title='Master of Science dissertation' startDate="2023-09-02" icon="mat:history_edu">
    <p>
      For my master's thesis, I decided to leverage my knowledge of formal
      verification and push its boundaries. The topic emerged from a
      collaboration with friends from the "Lambda" club. They introduced me to a
      fascinating <a
      href="https://www.sciencedirect.com/science/article/pii/S1571066104807540">paper</a>
      about uniquely representing positive rational numbers using an inductive
      type, based on the trace of a normalization function. This inspired me to
      explore other intriguing examples of such normalization functions and to
      investigate the possibility of transforming normalization functions into
      inductive types.
    </p>
    <p>
      As anticipated, deriving a general method from a single example proved
      challenging. While I discovered a few other examples, a universal
      transformation method remained elusive. Nevertheless, this project was
      highly rewarding. I gained significant insights into formal verification
      in COQ, delved deeply into Homotopy Type Theory (HoTT), and substantially
      enhanced my understanding of type theory. Thus, I consider this project a
      success.
    </p>
  </ng-template>
</app-timeline>

