<h3>Introduction</h3>
<p>
  Some time ago I was wondering if for functions with IO effects I should write
  it as <code-line lang="Haskell" code="fn :: a -> IO b"></code-line> or as
  <code-line lang="Haskell" code="fn :: MonadIO m => a -> m b"></code-line>.
  Both approaches have some advantages, the first one is more straightforward,
  therefore easier to read, and the second one is more flexible, but at the cost
  of potentially having more confusing error messages. At the time I didn't see
  that both approaches were wrong in many aspects. Let me introduce you to
  granular effect monad type classes. The granular effect monad type class is
  simply a type class that supports single effect like: writing to terminal,
  reading from terminal or fetching data from database.
</p>

<h3>Why Use Granular Effect Monad Type Classes?</h3>

<p>
  The problem with the MonadIO type class is that the set IO effects is too big
  and it handles all communications with the outside world. And not all
  communications are made equal. Let's take an example of the effect of
  randomness. We want to define a function that randomly selects one element
  from a list, it isn't deterministic so it cannot be pure. It needs seed from
  the real world so most likely it would get defined as <code-line
  lang="Haskell" code="selectRand :: MonadIO m => [a] -> m a"></code-line>. But
  it is overkill to use all mighty <code-line lang="Haskell"
  code="MonadIO"></code-line> to randomly select an element of a list. In such
  cases the correct (in my opinion) approach is to define a new type class that
  gives us randomness. 
</p>

<code-block lang="Haskell" [code]="
  [ 'class Monad m => MonadRand m where '
  , '  selectRand :: [a] -> m a'
  ]"></code-block>

<p>
  For such a type class we can easily define an instance for  <code-line
  lang="Haskell" code="IO"></code-line> monad. Constraints are by definition
  easy to compose so there is no problem with having a function that uses
  multiple effects e.g. <code-line lang="Haskell" 
  code="func :: (MonadRand m, MonadPrint m, MonadFetch m) => m Result"></code-line>.
</p>

<div class="frame" frame-name="Problem with Overlapping Instance">
  You might be tempted to define instance using <code-line lang="Haskell" code="MonadIO"></code-line>:

  <code-block lang="Haskell" [code]="
    [ 'instance MonadIO m => MonadRand m where'
    ]"></code-block>

  This however requires UndecidableInstances extension, and generates future
  problems with overlapping if we want to define other instances for this type
  class. So it is not a recommended approach.  
</div>

<div class="frame" frame-name="This is NOT a Case Against IO Monad">
  I am not proposing dropping <code-line lang="Haskell" code="IO"></code-line>
  entirely, in my opinion <code-line lang="Haskell" code="IO"></code-line> has
  the advantage of being really easy to use, in contrast to some more advanced
  effect monads. Monad <code-line lang="Haskell" code="IO"></code-line> can be a
  perfectly good instance for granular effect monad type classes. This approach
  does not force us into using granular effect monads like old Purescript's
  <code-line lang="Purescript" code="Eff"></code-line>.
</div>

<h3>Code Optimization</h3>

<p>
  I personally believe that the introduction of <code-line lang="Haskell"
  code="IO"></code-line> monad is the selling point in Haskell. In the
  conventional imperative languages like Python, Java or C++ you can never be
  sure if used functions have some effects or not. This makes the lives of
  programmers and compilers harder, since we often need to look into code to
  know if the function is pure or not. This is annoying and sometimes impossible
  when the language is only an interface for a library written in C (yes, I am
  talking about you Python). For example you see function like this:
</p>

<code-block lang="Python" [code]="
  [ 'def example(a, b, c):'
  , '  d = function(a, b)'
  , '  if c and d:'
  , '    print \'someting\''
  ]"></code-block>

<p>
  Looks like an obvious place for optimization, right? Why to simply take
  advantage of lazy evaluation of or? 
</p>

<code-block lang="Python" [code]="
  [ 'def example(a, b, c):'
  , '  if c and function(a, b):'
  , '    print \'someting\''
  ]"></code-block>

<p>
  Wrong! The function might depend on effects. Let's take a look into almost
  identical function:
</p>

<code-block lang="Python" [code]="
  [ 'def write_to_file(file_name, text, show_confirmation): '
  , '  writing_successful = write_to_file(file_name, text)'
  , '  if show_confirmation and writing_successful:'
  , '    print \'Successfully written to file\''
  ]"></code-block>

<p>
  Now it looks like an obviously bad idea to make such an optimization. We all
  agree that depending on function names to know if optimization is correct or
  not is a slippery slope, and in practice it will one day cause some unexpected
  bugs after code refactoring. Haskell solves it by making a clear type
  distinction between the <code-line lang="Haskell" code="equals :: String ->
  String -> Bool"></code-line> and <code-line lang="Haskell" code="writeToFile
  :: String -> String -> IO Bool"></code-line>. Thanks to this invention we
  don't need to trust other programs that function that sound like pure
  functions are indeed pure.
</p>

<p>
  You might think all our problems were solved by the introduction of <code-line
  lang="Haskell" code="IO"></code-line>, but not all effects are equal. Some
  like writing to file are changing the stage of "real world" and some are not.
  Example of the second group is fetching some data from a database or checking
  if a file exists or not. Usually in Haskell they also use the same monad
  <code-line lang="Haskell" code="IO"></code-line>. Let's see some examples:
</p>

<code-block lang="Haskell" [code]="
  [ 'example :: String -> Bool -> IO ()'
  , 'example fileName show = do'
  , '  exists <- fileExists fileName'
  , '  if show && exists'
  , '    then putStrLn fileExistsMsg'
  , '    else pure ()'
  ]"></code-block>

<p>
  In this case we see that this is sub-optimal since there is no point of
  checking the existence of a file if we do not want to show the message to the
  user. But we cannot deduce it based only on the type of functions. Therefore
  it is crucial to introduce more granular effects monad classes.
</p>

<h3>More information is always a win</h3>

<p>
  In the previous section we saw why we need at least two types of monad classes
  to be able to optimize code without changing its semantics. However code
  optimization is not the only place where more information about function
  effects is helpful. 
</p>

<div class="frame" frame-name="Ignoring unwanted effects">
  It is often the case that we do not always care about effects that the
  function is producing. For example, the effect of writing to the screen
  <code-line lang="Haskell" code="compute :: (MonadLog m) => Double -> m
  Double"></code-line>. This function wants to write something to the screen but
  if we don't need this feature we can make it pure by ignoring all writing
  action. Obviously there is no way of ignoring putStrLn and escaping <code-line
  lang="Haskell" code="IO"></code-line>. 
</div>

<div class="frame" frame-name="Better environment definition">
  Monad <code-line lang="Haskell" code="IO"></code-line> does not provide much
  information about what is actually required to run correctly. By introducing
  granular effect type classes. We can see that we cannot run <code-line
  lang="Haskell" code="fetchUsers :: (MonadDB m) => m [ User ]"></code-line>
  without first starting the database.  
</div>

<div class="frame" frame-name="Easier debugging">
  Due to the fact we are able to better track effects of each function, the
  debugging process is much easier. For example, if we have a problem with a
  function that prints invalid messages to the screen we are able to narrow down
  search to functions with writing effect instead of checking all functions with
  <code-line lang="Haskell" code="IO"></code-line> monad. 
</div>

<h3>Effortless Testable Code</h3>

<p>
  In my opinion the greatest advantage of using granular effect type classes is
  the ability to test your code without any changes. Let's see example of simple
  echo function:
</p>

<code-block lang="Haskell" [code]="
  [ 'echo :: IO ()'
  , 'echo = do'
  , '  line <- getLine'
  , '  putStrLn line'
  ]"></code-block>

<p>
  How can we test it? It uses <code-line lang="Haskell" code="IO"></code-line>
  and we can't mock <code-line lang="Haskell" code="IO"></code-line> monad or at
  least it isn't easy. The alternative definition is <code-line lang="Haskell"
  code="echo :: MonadIO m => m ()"></code-line> also untestable since we would
  need to mock up <code-line lang="Haskell" code="liftIO :: MonadIO m => IO a ->
  m a"></code-line> which is as hard as mocking the original function. If we use
  two granular type classes:
</p>

<code-block lang="Haskell" [code]="
  [ 'class Monad m => MonadRead m where'
  , '  getLine :: m String'
  , ''
  , 'class Monad m => MonadPrint m where'
  , '  putLine :: String -> m ()'
  ]"></code-block>

<p>
  We can redefine the echo function as:
</p>

<code-block lang="Haskell" [code]="
  [ 'echo :: (MonadRead m, MonadPrint m) => m ()'
  , 'echo = do'
  , '  line <- getLine'
  , '  putLine line'
  ]"></code-block>

<p>
  Now we can mockup the effect using testing monad:
</p>

<code-block lang="Haskell" [code]="
  [ 'newtype TerminalTest a'
  , '  = TerminalTest { unTerminalTest :: RWS () [String] [String] a }'
  , '  deriving (Monad, Applicative, Functor)'
  , ''
  , 'runTerminalTest :: [String] -> TerminalTest a -> (a, [String], [String])'
  , 'runTerminalTest input (TerminalTest t) = runRWS t () input'
  ]"></code-block>

<p>
  With following instances: 
</p>

<code-block lang="Haskell" [code]="
  [ 'instance MonadRead TerminalTest where'
  , '  getLine = TerminalTest $ do'
  , '    (i : is) <- get'
  , '    put is -- dropping used element'
  , '    pure i'
  , ''
  , 'instance MonadPrint TerminalTest where '
  , '  putLine = TerminalTest . tell . pure'
  ]"></code-block>

<p>
  Now we can test our echo function without an issue. This same approach can be
  used to mockup connections to external resources like databases of REST
  endpoints. 
</p>

<h3>Iterative Refactoring Effort</h3>

<p>
  Transition into granular effect type classes can be done in small steps. If we
  define a new function we can define it in terms of granular effect type
  classes, and without any problem use a main function that requires <code-line
  lang="Haskell" code="IO"></code-line> effect as long as <code-line
  lang="Haskell" code="IO"></code-line> is an instance of your effect type
  classes.
</p>

<code-block lang="Haskell" [code]="
  [ 'newStep :: MonadPrint m => Int -> m ()'
  , 'newStep x = ...'
  , ''
  , 'main :: IO ()'
  , 'main = do '
  , '  someStep'
  , '  newStep 1 -- IO will be used here automatically'
  ]"></code-block>

<p>
  If your function uses a function that uses <code-line
  lang="Haskell" code="IO"></code-line> you would need to include
  <code-line lang="Haskell" code="MonadIO"></code-line> as one of the effects
  until this function is refactored.
</p>

<code-block lang="Haskell" [code]="
  [ 'newStep\' :: (MonadPrint m, MonadIO m) => String -> m ()'
  , 'newStep\' x = do'
  , '  y <- liftIO (oldStep :: IO String)'
  , '  ...'
  ]"></code-block>

<h3>Summary</h3>

<p>
  Granular effect type classes make your code easier to maintain, and testable.
  The refactoring can be done in small steps. The only downside is the
  requirement of creating those type classes. However the effort is rather
  minimal in contrast to the vast benefits of using them. 
</p>