<div class="main">
  <div class="left">
    <h2>Hi, I am</h2>
    <h1 typing-text text="Marek Bauer" [typingSpeedMs]="150"></h1>
    <p>
      I'm a Haskell developer with a big passion for math and solving problems. 
      I love crafting type-safe and reliable code, always keeping up with the latest standards. 
      I'm excited to connect and help tackle any challenges together!
    </p>
    <btn icon="download" target="https://www.overleaf.com/download/project/651ed45508eeb01d5e66fe69/build/191f11aae75-091f55ce31b79f31/output/output.pdf?compileGroup=standard&clsiserverid=clsi-pre-emp-n2d-c-f-mq7n&enable_pdf_caching=true">Download CV</btn>
    <btn [icon]='["fab", "linkedin"]' target="https://www.linkedin.com/in/marek-bauer/">Contact me</btn>
  </div>
  <div class="right">
    <div id="avatar"></div>
  </div>
</div>
