@import "../../../variables.scss";

.main {
  width: 100%;
  display: flex;
  align-items: center;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

@media #{$medium-and-down} {
  .main {
    flex-direction: column;
  }
  
  .left {
    width: 100%;
  }
  
  .right {
    margin-top: 20px;
    width: 80%;
  }
}

h1 {
  color: $secondary-color;
  margin-top: 0;
  font-size: 60pt;
  font-family: $terminal-font;
}

h2 {
  color: $support-color;
  margin-bottom: 0;
  font-size: 34pt;  
  font-family: $terminal-font;
}

p {
  margin-top: 0;
  font-size: 16pt;
  color: $primary-color;
}

#avatar {
  width: 80%;
  padding-bottom: 80%;
  box-shadow: 0 0 16px 16px $background-color inset;
  background-image: url("/assets/img/avatar_removebg.png");
  border-radius: 10px;
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}


