<div class="main">
  <div class="left">
    <h2>Hi, I am</h2>
    <h1><typing-text [text]="'Marek Bauer'" [typingSpeedMs]="150"></typing-text></h1>
    <p>I'm a Haskell developer, passionate about functional programming and elegant solutions. With Haskell, I dive into the world of statically-typed, purely functional programming, where expressiveness meets safety. From concise code to powerful abstractions, Haskell enables me to craft robust, scalable software with clarity and confidence. Let's build something amazing together!</p>
    <btn icon="add" target="#">Download CV</btn>
  </div>
  <div class="right">
    <div id="avatar"></div>
  </div>
</div>
