@import "../../../../variables.scss";

.event {
  position: relative;
  border-radius: 10px;
  padding: 6px;
  transition: .1s;
}

.icon {
  width: $event-icon-size;
  height: $event-icon-size;
  color: $background-variant;
  border-radius: $event-icon-size;
  background-color: $timeline-color;
  transition: background-color .2s;
  position: absolute;
  left: 0;
  top: 8px;
  transform: 
    translateX(calc(0px - ($event-icon-size / 2) - $timeline-pos - ($timeline-width * 2)))
}

.icon mat-icon, .icon div {
  font-size: calc($event-icon-size * 0.8);
  width: calc($event-icon-size * 0.8);
  height: calc($event-icon-size * 0.8);
  margin: calc($event-icon-size * 0.1) calc($event-icon-size * 0.1);
}

.icon div {
  filter: grayscale(100%) brightness(1000%);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  font-family: $alt-font;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
  margin-right: 38px;
}

.date {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  margin-top: -6px;
  margin-right: 38px;
  color: $secondary-color;
}

.header {
  cursor: pointer;
}

.event:hover .icon {
  background-color: $timeline-highlight;
}

.event:hover {
  background: #ffffff75;
}

.arrow {
  position: absolute;
  right: 14px;
  top: 14px;
}