<div [id]="title" [class]="['event', opened ? 'opened' : 'closed']">
  <div class="header" (click)="opened = !opened">
    <div class="icon">
      @switch (icon.constructor) {
        @case (matIcon) {
          <mat-icon>{{$any(icon).icon}}</mat-icon>
        }
        @case (imgIcon) {
          <div [style.background-image]="'url(assets/' + $any(icon).path + ')'"></div>
        }
        @case (aweIcon) {
          <fa-icon [icon]="[$any(icon).family, $any(icon).icon]"></fa-icon>
        }
      }
    </div>
    <div class="title">{{title}}</div>
    <div class="date">{{date}}</div>
    @if (!noContent) {
      <div class="arrow">
        <div></div>
      </div>
    }
  </div>
  @if (!noContent) {
    <div class="drop-collapse">
      <div>
        <ng-content></ng-content>
      </div>
    </div>
  }
</div>