
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

@import 'highlight.js/styles/github.css';
@import "katex/dist/katex.css";
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=VT323&family=Sedan+SC&display=swap');
@import "./variables.scss";

@include mat.all-component-themes($theme);

@media #{$medium-and-up} {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media #{$small-and-down} {
  .hide-on-small-and-down {
    display: none !important;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 70%;
  }
}

h1, h2, h3 {
  color: $secondary-color;
  margin: 0;
  font-size: 45pt;
  font-weight: 400;
  font-family: $terminal-font;
}

h1 {
  font-size: 45pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 24pt;
}

html {
  background-color: $background-color;
}

body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

app-root { 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  color: $primary-color;
}

.arrow {
  width: 18px;
  height: 18px;
  transition: .3s ease-in-out;
}

.arrow > div {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 2px;
  border-top: 2px solid $dropdown-arrow-color;
  border-right: 2px solid $dropdown-arrow-color;
  transform: rotate(-45deg);
  transition: .3s;
}

div:hover > .arrow > div {
  border-right: 2px solid $support-color;
  border-top: 2px solid $support-color;
}

.closed .arrow{
  transform: rotate(180deg);
}

.opened .arrow{
  transform: rotate(0);
}

.drop-collapse {
  transition: 0.6s;
  display: grid;
  overflow: hidden;
}

.opened .drop-collapse {
  grid-template-rows: 1fr;
}

.closed .drop-collapse {
  grid-template-rows: 0fr;
}

.drop-collapse div {
  overflow: hidden;
}

.tags span {
  cursor: pointer;
}

.tags mat-chip {
  background-color: $tag-color!important;
  cursor: pointer;
}

.frame {
  background: $background-variant;
  padding: 20px 10px 10px 10px;
  border: 4px solid $secondary-color;
  position: relative;
}

.frame::after {
  content: attr(frame-name);
  color: $background-variant;
  background: $secondary-color;
  padding: 4px 8px;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 18px;
  margin-top: -17px;
  margin-left: 13px;
}

.frame .katex-display:last-child {
  margin-bottom: 0;
}

.article {
  a {
    color: $primary-color;
  }

  h2, h3 {
    margin-top: 22px;
  }

  strong {
    font-weight: bold;
  }

  p eq {
    display: inline-block;
    height: 1px;
  }

  line-height: 20px;
}