@use '@angular/material' as mat;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$primary-pallette: mat.define-palette(mat.$teal-palette);
$accent-pallette: mat.define-palette(mat.$teal-palette, A200, A100, A700);

$theme: mat.define-light-theme((
  color: (
    primary: $primary-pallette,
    accent: $accent-pallette,
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: mat.define-typography-config(),
  density: 1
));

$terminal-font: "VT323", monospace;
$alt-font: "Poetsen One", sans-serif;
$date-font: "Sedan SC", serif;

$primary-color: #40514E !default;
$secondary-color: mat.get-color-from-palette($primary-pallette);
$support-color: #00f1d1 !default;
$background-color: mat.get-color-from-palette($primary-pallette, 50);
$background-variant: white !default;
$background-highlight: rgba(black, 0.12);
$disabled-color: #949494 !default;

$dropdown-arrow-color: $disabled-color;
$tag-color: $support-color;

$progress-color: $secondary-color;
$progress-background: rgba($progress-color, 0.15);

$timeline-color: $primary-color;
$timeline-highlight: $secondary-color;
$timeline-width: 4px;
$timeline-dash: 16px;
$timeline-pos: 14px;
$event-icon-size: 42px;
$icon-scale: 0.6;