$primary-color: #40514E !default;
$secondary-color: #11999E !default;
$support-color: #30E3CA !default;
$background-color:#E4F9F5 !default;
$background-variant:#f8fffe !default;

$dropdown-arrow-color: #40514E;

$progress-color: $secondary-color;
$progress-background: #11999e10;

$btn-color: $secondary-color;
$btn-background: #00000040;
$btn-highlight: $support-color;

$timeline-color: $primary-color;
$timeline-highlight: $secondary-color;
$timeline-width: 4px;
$timeline-dash: 16px;
$timeline-pos: 12px;
$event-icon-size: 42px;
$icon-scale: 0.6;