@use '@angular/material' as mat;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


$theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$teal-palette),
    accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: mat.define-typography-config(),
  density: 1
));

$terminal-font: "VT323", monospace;
$alt-font: "Poetsen One", sans-serif;;

$primary-color: #40514E !default;
$secondary-color: #11999E !default;
$support-color: #30E3CA !default;
$background-color:#E4F9F5 !default;
$background-variant: white !default;
$background-highlight:#e1e1e1 !default;
$disabled-color: #949494 !default;

$dropdown-arrow-color: $disabled-color;

$progress-color: $secondary-color;
$progress-background: #11999e10;

$timeline-color: $primary-color;
$timeline-highlight: $secondary-color;
$timeline-width: 4px;
$timeline-dash: 16px;
$timeline-pos: 12px;
$event-icon-size: 42px;
$icon-scale: 0.6;